{{!
  Paasmaker - Platform as a Service

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
}}
<h1>Role Allocation List</h1>

<div class="btn-group btn-group-header">
	<a href="/role/allocation/assign" class="btn"><i class="icon-list-alt"></i> Allocate</a>
</div>

<table class="table table-striped table-bordered">
	<tr>
		<th>User</th>
		<th>Role</th>
		<th>Workspace</th>
		<th>Action</th>
	</tr>
	{{#each allocations }}
		<tr>
			<td>
				<a href="/user/{{ user.id }}">
					{{ user.name }}
				</a>
			</td>
			<td>
				<a href="/role/{{ role.id }}">
					{{ role.name }}
				</a>
			</td>
			<td>
				{{#if workspace}}
					<a href="/workspace/{{ workspace.id }}">
						{{ workspace.name }}
					</a>
				{{ else }}
					Global
				{{/if}}
			</td>
			<td>
				<div class="table-button-box">
					<form method="POST" action="/role/allocation/unassign">
						<input type="hidden" name="allocation_id" value="{{ id }}" />
						<input type="submit" class="btn btn-mini btn-danger" value="Remove" />
					</form>
				</div>
			</td>
		</tr>
	{{/each}}
</table>
