<h1>Workspace: {{ workspace.name }}</h1>
<div class="btn-toolbar">
	<!-- if user_permissions.has_permission(PERMISSION.WORKSPACE_EDIT, None) -->
		<div class="btn-group btn-group-header">
			<a class="btn" href="/workspace/{{ workspace.id }}"><i class="icon-edit"></i> Edit Workspace</a>
		</div>
	<div class="btn-group btn-group-header">
		<a class="btn" href="/workspace/{{ workspace.id }}/applications/new"><i class="icon-plus"></i> Create Application</a>
	</div>
	<div class="btn-group btn-group-header">
		<a class="btn" href="/job/list/workspace/{{ workspace.id }}">All Jobs</a>
		<a class="btn" href="/job/list/workspace/{{ workspace.id }}?sub=cron">Cron Jobs</a>
	</div>
</div>

<div class="workspace-overview">
	<div class="router-stats well well-small" data-name="workspace" data-inputid="{{ workspace.id }}" data-title="Workspace: {{ workspace.name }}">Loading...</div>
</div>
