<h1>Workspace: {{ workspace.name }}</h1>
<div class="btn-toolbar">
		{{#ifPermission 'WORKSPACE_EDIT'}}
			<div class="btn-group btn-group-header">
				<a class="btn" href="/workspace/{{ workspace.id }}"><i class="icon-edit"></i> Edit Workspace</a>
			</div>
		{{/ifPermission}}
	<div class="btn-group btn-group-header">
		<a class="btn" href="/workspace/{{ workspace.id }}/applications/new"><i class="icon-plus"></i> Create Application</a>
	</div>
	<div class="btn-group btn-group-header">
		<a class="btn" href="/job/list/workspace/{{ workspace.id }}">All Jobs</a>
		<a class="btn" href="/job/list/workspace/{{ workspace.id }}?sub=cron">Cron Jobs</a>
	</div>
</div>

<div class="workspace-overview">
	<div class="overview-graph" data-name="workspace" data-inputid="{{ workspace.id }}" data-metric="requests">
		<h3>Requests</h3>
		<div class="graph-container"><br><br>Loading ...</div>
	</div>
	<div class="overview-graph" data-name="workspace" data-inputid="{{ workspace.id }}" data-metric="bytes">
		<h3>Bytes transferred</h3>
		<div class="graph-container"><br><br>Loading ...</div>
	</div>
	<div class="overview-graph" data-name="workspace" data-inputid="{{ workspace.id }}" data-metric="time">
		<h3>Request time</h3>
		<div class="graph-container"><br><br>Loading ...</div>
	</div>
	<!-- <div class="overview-graph" data-name="workspace" data-inputid="{{ workspace.id }}" data-metric="requests_by_code">
		<h3>Response codes</h3>
		<div class="graph-container"><br><br>Loading ...</div>
	</div> -->
</div>
