<hr><h2>Instance type: {{instance_type.name}}</h2>
<ul class="instance-type-column">
	<li>Runtime: {{instance_type.runtime_name}}</li>
	<li>Quantity: {{instance_type.quantity}}</li>
	<li>
		{{#if instance_type.exclusive}}
			Exclusive
		{{else}}
			Not exclusive
		{{/if}}
	</li>
</ul>
<div class="instance-type-column">
	{{#if instance_type.standalone }}
		Instance is standalone
	{{else}}
		Hostnames:
		<ul>
			{{#each instance_type.hostnames}}
				{{#if ../../version_is_current}}
					<li><a href="http://{{this}}{{../../frontend_domain_postfix}}/" target="_blank">
						{{this}}
					</a></li>
				{{else}}
					<li><i class=" icon-minus-sign" title="Hostname is configured for this version, but version is not current"></i> {{this}}</li>
				{{/if}}
			{{/each}}
			<li><a href="http://{{instance_type.version_url}}{{frontend_domain_postfix}}" target="_blank">
				{{instance_type.version_url}}
			</a></li>
		</ul>
	{{/if}}
</div>


<table class="table table-striped table-bordered">
	<tr>
		<th>ID</th>
		<th>Node</th>
		<th>Port</th>
		<th>Created</th>
		<th>State</th>
	</tr>
	{{#each instances}}
		<tr>
			<td>
				<code>{{ instance_id }}</code>
				<a href="#" class="toggle {{ instance_id }}"></a>
			</td>
			<td>
				<a href="/node/{{ node_id }}">{{ node_id }}</a>
			</td>
			<td>
				{{ port }}
			</td>
			<td title="{{created_moment.format}}">
				{{created_moment.fromNow}}
			</td>
			<td>
				<span class="instance-{{ state }}">{{ state }}</span>
			</td>
		</tr>
		<tr>
			<td colspan="5" class="instance-log-container {{ instance_id }}" data-instance="{{ instance_id }}">
			</td>
		</tr>
	{{/each}}
</table>
