<h1>Nodes</h1>

<table class="table table-bordered node-list-category">
	<tr>
		<th><i class="icon-calendar"></i> Pacemakers</th>
	</tr>
	{{#each pacemakers}}
		<tr>
			<td>
				{{#ifPermission 'NODE_DETAIL_VIEW'}}<a href="/node/{{id}}">{{/ifPermission}}
					<span style="font-weight:bold" title="UUID: {{uuid}}">{{name}}</span>
				{{#ifPermission 'NODE_DETAIL_VIEW'}}</a>{{/ifPermission}}
				<span class="badge {{state_class.badge}}" title="State: {{state}}"><i class="{{state_class.icon}} icon-white"></i></span><br>
				{{route}}:{{apiport}}
			</td>
		</tr>
	{{/each}}
</table>

<table class="table table-bordered node-list-category">
	<tr>
		<th><i class="icon-heart"></i> Hearts</th>
	</tr>
	{{#each hearts}}
		<tr>
			<td>
				{{#ifPermission 'NODE_DETAIL_VIEW'}}<a href="/node/{{id}}">{{/ifPermission}}
					<span style="font-weight:bold" title="UUID: {{uuid}}">{{name}}</span>
				{{#ifPermission 'NODE_DETAIL_VIEW'}}</a>{{/ifPermission}}
				<span class="badge {{state_class.badge}}" title="State: {{state}}"><i class="{{state_class.icon}} icon-white"></i></span><br>
				{{route}}:{{apiport}}
			</td>
		</tr>
	{{/each}}
</table>

<table class="table table-bordered node-list-category">
	<tr>
		<th><i class="icon-random"></i> Routers</th>
	</tr>
	{{#each routers}}
		<tr>
			<td>
				{{#ifPermission 'NODE_DETAIL_VIEW'}}<a href="/node/{{id}}">{{/ifPermission}}
					<span style="font-weight:bold" title="UUID: {{uuid}}">{{name}}</span>
				{{#ifPermission 'NODE_DETAIL_VIEW'}}</a>{{/ifPermission}}
				<span class="badge {{state_class.badge}}" title="State: {{state}}"><i class="{{state_class.icon}} icon-white"></i></span><br>
				{{route}}:{{apiport}}
			</td>
		</tr>
	{{/each}}
</table>
