<h1>Nodes</h1>

<table class="table table-striped table-bordered">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Route</th>
		<th>Roles</th>
		<th>Last Heard</th>
		<th>Score</th>
		<th>State</th>
	</tr>
	{{#each nodes}}
		<tr>
			<td class="contains-uuid">
				<code class="uuid-shrink" title="{{uuid}}"></code>
			</td>
			<td>
				{{#ifPermission 'NODE_DETAIL_VIEW'}}<a href="/node/{{id}}">{{/ifPermission}}
					{{name}}
				{{#ifPermission 'NODE_DETAIL_VIEW'}}</a>{{/ifPermission}}
			</td>
			<td>
				{{route}}:{{apiport}}
			</td>
			<td>
				{{#if pacemaker}}Pacemaker{{/if}}
				{{#if heart}}Heart{{/if}}
				{{#if router}}Router{{/if}}
			</td>
			<td>
				{{updated_age}}s
			</td>
			<td>
				{{score}}
			</td>
			<td>
				<span class="node-{{state}}">{{state}}</span>
			</td>
		</tr>
	{{/each}}
</table>
