{{!
  Paasmaker - Platform as a Service

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
}}<ul class="breadcrumb"></ul>

<h1>
	Node {{ name }}

	{{#if pacemaker}}
		<a href="#" class="btn disabled">
			<i class="icon-calendar"></i> Pacemaker
		</a>
	{{/if}}
	{{#if heart}}
		<a href="#" class="btn disabled">
			<i class="icon-heart"></i> Heart
		</a>
	{{/if}}
	{{#if router}}
		<a href="#" class="btn disabled">
			<i class="icon-random"></i> Router
		</a>
	{{/if}}
</h1>

<div class="node-chart node-disk">
	<div class="chart"></div><div class="legend"></div>
</div>
<div class="node-chart node-memory">
	<div class="chart"></div><div class="legend"></div>
</div>

<ul class="node-details">
	<li><strong>UUID:</strong> <code>{{ uuid }}</code></li>
	<li><strong>Route:</strong> {{ route }}:{{ apiport }}</li>
	<li><strong>State:</strong> {{ state }}</li>
	<li title="Started at {{formatted_start_time}}"><strong>Uptime:</strong> {{uptime_string}}</li>
	<li title="{{formatted_last_heard}}"><strong>Last report:</strong> {{updated_age}} seconds ago</li>
	<li><strong>Score:</strong> {{formatted_score}}</li>
</ul>

<h2 class="node-instances">Instances</h2>
<table class="table table-bordered node-instances">
	<tr class="node-table-header">
		<th>ID</th>
		<th>Application</th>
		<th>Version</th>
		<th>State</th>
		<th></th>
	</tr>
</table>

<hr>

{{#if runtimes}}
	<table class="table table-bordered node-runtime">
		<tr class="node-table-header">
			<th>Runtimes</th>
			<th>Version(s)</th>
		</tr>
		{{#each runtimes}}
			<tr>
				<td>{{name}}</td>
				<td>{{versions}}</td>
			</tr>
		{{/each}}
	</table>
{{/if}}

<table class="table table-bordered">
	<tr>
		<th>Tags</th>
		<th>Stats</th>
	</tr>
	<tr>
		<td>
			<pre>{{formatted_tags}}</pre>
		</td>
		<td>
			<pre>{{formatted_stats}}</pre>
		</td>
	</tr>
</table>

<table class="table table-bordered jobs">
	<tr>
		<th>
			Jobs
			<div class="all-jobs-button">
				<a class="btn btn-mini" href="/job/list/node/{{id}}">View All</a>
			</div>
		</th>
	</tr>
	<tr>
		<td>
			<div class="well job-overview"></div>
		</td>
	</tr>
</table>