{{!
  Paasmaker - Platform as a Service

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
}}<ul class="breadcrumb"></ul>

<h1>Services: {{ application.name }}</h1>

<table class="table table-striped table-bordered">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Provider</th>
		<th>Credentials</th>
		<th>Used By</th>
		<th>State</th>
	</tr>
	{{#each services}}
		<tr>
			<td>
				{{ id }}
			</td>
			<td>
				{{ name }}
			</td>
			<td>
				{{ provider }}
			</td>
			<td>
				{{#if credentials_text}}
					<pre>{{ credentials_text }}</pre>
				{{/if}}
			</td>
			<td>
				<ul>
					{{#each application_versions}}
						<li><a href="/version/{{id}}">v{{version}}</a></li>
					{{/each}}
				</ul>
			</td>
			<td>
				<span class="service-{{state}}">{{ state }}</span>
				{{#if can_export}}
					<br /><a href="/service/export/{{ id }}">Export...</a>
				{{/if}}
				{{#if can_import}}
					<br /><a href="/service/import/{{ id }}">Import...</a>
				{{/if}}
			</td>
		</tr>
	{{/each}}
</table>
