{{!
  Paasmaker - Platform as a Service

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
}}
<div class="application-list">
	<ul class="nav nav-list">
		<li class="nav-header">Applications: {{workspace.name}}</li>
		{{# each applications}}
			<li class="application {{#if is_active}}active{{/if}}" data-application-id="{{ id }}">
				<a href="/application/{{ id }}">
					<span class="application-list-state">
						<span class="badge {{health_class.badge}}" title="Health: {{health}}"><i class="{{health_class.icon}} icon-white"></i></span>
						<!-- {{ services.length }}&nbsp;service(s) -->
					</span>
					<span class="application-list-name">{{name}}</span>
					<ul class="application-list-versions">

					</ul>
				</a>
			</li>
			<li class="divider"></li>
		{{/each}}
		{{#unless applications.length}}
			<li class="no-menu-items">No applications in this workspace</li>
			<li class="divider"></li>
		{{/unless}}
		<li {{#if new_application_active}}class="active"{{/if}}><a href="/workspace/{{ workspace.id }}/applications/new">Create Application</a></li>
	</ul>
</div>
